.col-4
  %h3=link_to "#{product.name}", product_path(product)
  =#link_to(image_tag(product.images.first.image.url(:thumb), class: 'rounded mx-auto d-block', alt: "#{product.name}" ), product_path(product)) if product.images.first.image?