show
.row.justify-content-md-center
  .col-10
    .row.product_show
      .image.pull-left#show_image
        =image_tag @product.images.first.image.url( :thumb ), class: 'img-thumbnail' if @product.images.any?
      .button_block.pull-rigth
        %p
          %h3=@product.description
        Price: #{@product.price}</br>
        In the presence: #{@product.quantity}
        =simple_form_for( @order_items, url: order_items_path ) do |f|
          =f.input_field :product_id, as: :hidden, value: @product.id
          =f.input :quantity, min: 1
          =f.button :submit, 'To Cart'


